<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.shortTelMapper" >
	
	<insert id="insertShortTelBatch" parameterType="java.util.List">  
		        insert into short_tel(short_tel)  
		        values  
		         <foreach collection="list" item="item"  separator=",">  
		              (#{item.shortTel})   
		         </foreach>     
	</insert> 
</mapper>